*,
*::before,
*::after {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-color: #333333;
}
main {
  padding: 3rem 0rem;
}
.main {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 2.5rem;
}
.movie_card {
  width: 260px;
  height: 454px;
}
