*,
*::before,
*::after {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  background-color: #333333;
}
main {
  padding: 3rem 0rem;
}

.movie_card {
  width: 260px;
  height: 440px;
  padding: 1rem 1rem 0rem 1rem;
}
.movie_title {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
